{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}

    <div class="container">
        <div class="form-box" id="login-box">
            <div class="header">Reset Password

            </div>
            <div class="body bg-gray">

                <div class="form-group control-group">
                    <p style="font-weight:bolder">
                        {{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
