{% trans_default_domain 'FOSUserBundle' %}
{% block content %}
    <div class="container">
        <div class="form-box" id="login-box">
            <div class="header">Reset Password

            </div>
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="message mt-0 text-center">
                    <div class="alert alert-danger bg-danger mt-0">
                        {{ flashMessage }}
                    </div>
                </div>
            {% endfor %}

            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request"
                  role="form">
                <div class="body bg-gray">
                    <label for="username">{{ 'resetting.request.username'|trans }}</label>
                    <div class="form-group control-group">
                        <input type="text" class="form-control" id="username" name="username"
                               required="required"
                               placeholder="Email Address"/>
                    </div>
                    <div>
                        <input type="submit" value="{{ 'resetting.request.submit'|trans }}"
                               lass="btn bg-olive btn-block"/>
                    </div>


                </div>
            </form>
        </div>
    </div>
{% endblock content %}
