{% trans_default_domain 'FOSUserBundle' %}
{% block content %}
    <div class="container">
        <div class="form-box" id="login-box">
            <div class="header">Change Password

            </div>
            {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}

            <div class="body bg-gray">
                {% if  form.vars.errors or form.plainPassword.vars.errors %}
                    <div class="alert alert-danger text-center mt-0">
                        {{ form_errors(form.plainPassword.first) }}

                    </div>
                {% endif %}
                <div class="form-group control-group">

                    <label>  {{ form_label(form.plainPassword.first) }}</label>
                    {{ form_widget(form.plainPassword.first,{'attr':{'class':'form-control' }}) }}
                </div>
                <div class="form-group control-group">
                    <label>  {{ form_label(form.plainPassword.second) }}</label>
                    {{ form_widget(form.plainPassword.second,{'attr':{'class':'form-control'}}) }}
                </div>
                <div>
                    <input type="submit" value="{{ 'resetting.reset.submit'|trans }}"
                           lass="btn bg-olive btn-block"/>
                </div>


            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock content %}