<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Login{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('bundles/user/css/bootstrap.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ asset('bundles/user/css/adminLTE.css') }}" type="text/css">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<style>
    .mt-0{margin:0px !important;}
    .alert.alert-danger.text-center.mt-0 >ul {
        list-style: none;
        text-align: center;
    }
</style>
<body class="sonata-bc bg-black" style="position: absolute;width: 100%;">

{% block content %}




{% endblock %}





{% block javascripts %}{% endblock %}
</body>
</html>




