{% trans_default_domain 'FOSUserBundle' %}
{% block content %}
    <div class="container">


        <div class="form-box" id="login-box">
            <div class="header">Authentication

            </div>


            <form action="{{ path("fos_user_security_check") }}" method="post" role="form">
                <div class="message text-center mt-0">
                    {% if error %}
                        <div class="alert alert-danger bg-danger">
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </div>
                    {% endif %}

                </div>
                <div class="body bg-gray">

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                    <label for="username">{{ 'security.login.username'|trans }}</label>
                    <div class="form-group control-group">
                        <input type="text" class="form-control" id="username" name="_username"
                               value="{{ last_username }}"
                               required="required"
                               placeholder="Username"/>
                    </div>


                    <div class="form-group control-group">
                        <label for="password">{{ 'security.login.password'|trans }}</label>
                        <input type="password" class="form-control" id="password" name="_password" required="required"
                               placeholder="Password"/>
                    </div>

                    <div class="form-group">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                        Remember me
                    </div>

                </div>

                <div class="footer">
                    <button type="submit" id="_submit" name="_submit" class="btn bg-olive btn-block">Login</button>
                    <p><a href="{{ path('fos_user_resetting_request') }}" class="text-center">Forgotten password?</a></p>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
