{% trans_default_domain 'FOSUserBundle' %}

{#<div class="fos_user_user_show">#}
    {#<p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>#}
    {#<p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>#}
{#</div>#}

{% block content %}

    <div class="container">
        <div class="form-box" id="login-box">
            <div class="header">Password Updated

            </div>
            <div class="body bg-gray">

                <div class="form-group control-group">
                    <p style="font-weight:bolder">
                        Name: {{ user.name }}</p>
                    <p style="font-weight:bolder">
                        {{ 'profile.show.email'|trans }}: {{ user.email }}</p>
                    </p>
                    <hr>
                    <p style="font-weight:bolder" class="text-center">
                        Password Updated Successfully!!!
                    </p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
